
* {
  box-sizing: border-box;
}

.root {
  width: 100vw;
  height: 100vh;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.login {
  position: relative;
  width: 500px;
  /* height: 100vh; */
  margin-left:auto;
  margin-right: auto;
  background-color: white;
  border-radius: 20px;
  padding: 30px;

  /* top: 40%;
  transform: translateY(-50%); */

}

.login-field {
  display: flex;
  align-items: center;
  background-color: #f2f7ff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.login-icon {
  color: #344667;
  font-size: 1.6rem;
  width: 20px;
  text-align: center;
}


.login-submit {
  color: white;
  border-radius: 10px;
  display: block;
  width: 100%;
  padding: 15px 10px;
  border: 0;
  background-color: #435ebe;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  outline: none;
}

