
* {
  box-sizing: border-box;
}

.login-root {
  width: 100vw;
  height: 100vh;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  background-image: url(https://pet-shop-tvs.vercel.app/login-bg.png);
  background-size: cover;
}

.login{
  position: relative;
  top: 8%;
}
.logo-shop{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 20px;
  width: 550px;
}

.login-form {
  position: relative;
  width: 600px;
  margin-left:auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 30px;
  box-shadow: -1px 4px 28px 0px rgb(0, 0, 0, 0.5)
}

.login-field {
  display: flex;
  align-items: center;
  background-color: #f2f7ff;
  /* background-color: rgba(255, 255, 255, 0.15); */
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.login-icon {
  color: var(--hover-color);
  font-size: 2.8rem;
  text-align: center;
}


.login-submit {
  color: white;
  border-radius: 10px;
  display: block;
  width: 100%;
  padding: 15px 10px;
  border: 0;
  background-color: var(--hover-color);
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px;
}
.login-submit:hover {
  background-color: #0384c0;

}
.disabled {
  background-color: #b1b1b1;
  cursor: default;
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 75em){
  .logo-shop{
    width: 400px;
  }
  .login-form {
    width: 480px;
  }
}

/* Mobile */
@media (max-width: 46.1875em) {
  .logo-shop{
    width: 350px;
  }
  .login-form {
    width: 330px;
  }
}
